*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4682A9;
}
.smk{
    position: relative;
    padding-top: 0;
    padding-bottom: 60px;
    height: 1200px;
    width: 30px;
}
.container{
    border: 3px solid #303030;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 4px;
    position:  relative;
}
h1{
    color: #F6F4EB;
    padding: 20px 0;
    font-size: 30px;
}
.img1{
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
}
.voting{
    position: relative;
    border: 3px solid #303030;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
input{
    width: 50px;
    border: none;
    background: none;
    color: #919191;
    font-size: 30px;
    margin: 0 10px;
    pointer-events: none;
}
button{
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 15px;
    margin: 10px 0;
    margin-left: 20px;
    cursor: pointer;
}
button:active{
    color: #004eff;
    transform: scale(1.2);
}